<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>Create Category</div>
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="category" class="visually-hidden">Category</label>
                        <input type="text" readonly class="form-control-plaintext" id="category" value="Name Category">
                    </div>
                    <div class="col-auto">
                        <label for="name" class="visually-hidden">Name Category</label>
                        <input v-model="name" type="text" class="form-control" id="name" placeholder="Name Category">
                    </div>
                    <div class="col-auto">
                        <button @click.prevent="saveForm()" type="submit" class="btn btn-primary mb-3">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</template>
<script>
export default {
    data() {
        return {
            name: '',
            errors: [],
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'login' });
        }
    },

    methods : {
        saveForm() {
            axios.post('/api/category', {
                name : this.name
            }).then(() => {
                this.name = '';
                alert('created');
            }).catch((error) => {
                this.errors = error.response.data.errors;
            })
        }
    },
}
</script>
