
<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>Categories</div>
                <div class="overflow-auto">
                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>Name Customer</th>
                        </tr>
                        <tr v-for="(item, index) in items">
                            <td>{{ index + 1 }}</td>
                            <td>{{ item.name_customer }}</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" v-if="pagination.current_page > 1">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page - 1)">Previous</a>
                            </li>
                            <li class="page-item" v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                <a class="page-link" href="#" @click.prevent="changePage(pagination.current_page + 1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            items: [],
            pagination: {},
            offset: 3,
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'login' });
        }
    },

    mounted() {
        this.getVueItems(1);
    },

    methods : {
        getVueItems: function(page){
            axios.get('/api/customer?page='+page).then((reponse) => {
                this.items = reponse.data.data.data
                this.pagination = reponse.data.data
            })
        },

        changePage: function (page) {
            this.pagination.current_page = page;
            this.getVueItems(page);
        }
    },

    computed: {
        isActived: function () {
            return this.pagination.current_page;
        },
        pagesNumber: function () {
            if (!this.pagination.to) {
                return [];
            }
            var from = this.pagination.current_page - this.offset;
            if (from < 1) {
                from = 1;
            }
            var to = from + (this.offset * 2);
            if (to >= this.pagination.last_page) {
                to = this.pagination.last_page;
            }
            var pagesArray = [];
            while (from <= to) {
                pagesArray.push(from);
                from++;
            }
            return pagesArray;
        }
    },
}
</script>
