<template>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div>Create Customer</div>
                </div>
                <form class="row g-3">
                    <div class="col-auto">
                        <label for="category" class="visually-hidden">Customer</label>
                        <input type="text" readonly class="form-control-plaintext" id="category" value="Customer">
                    </div>
                    <div class="col-auto">
                        <label for="name" class="visually-hidden">Name Customer</label>
                        <input v-model="name_customer" type="text" class="form-control" id="name" placeholder="Name Customer">
                    </div>
                    <div class="col-auto">
                        <button @click.prevent="saveForm()" type="submit" class="btn btn-primary mb-3">Register</button>
                    </div>
                </form>
            </div>
        </div>        
</template>


<script>
export default {
    data() {
        return {
            name_customer: '',
            errors : [],
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'login' });
        }
    },

    methods : {
        saveForm() {
            axios.post('/api/customer', {
                name_customer : this.name_customer
            }).then(() => {
                this.name_customer = '';
                alert('created');
            }).catch((error) => {
                this.errors.value = error.response.data.errors;
        })
}
    },

}
</script>
