<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div>Create Fruit</div>
                <form class="row g-3">
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select v-model="fruit.category_id" class="form-select" aria-label="Default select example">
                            <option v-for="item in category" :value="item.id" >{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input v-model="fruit.name" type="text" class="form-control" id="name" placeholder="name">
                    </div>
                    <div class="mb-3">
                        <label for="unit" class="form-label">Unit</label>
                        <input v-model="fruit.unit" type="number" class="form-control" id="unit" placeholder="unit">
                    </div>
                    <div class="mb-3">
                        <button @click.prevent="saveForm()" type="submit" class="btn btn-primary mb-3">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</template>

<script>
export default {
    data() {
        return {
            category: [],
            fruit: {
                name: '',
                unit: 0,
                category_id: '',
            },
            errors: [],
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'login' });
        }
    },

    mounted() {
        this.getCategory();
    },

    methods : {
        getCategory() {
            axios.get('/api/category/all').then((reponse) => {
                this.category = reponse.data.data;
            })
        },

        saveForm() {
            if (this.fruit.name == '' || this.fruit.unit == 0 || this.fruit.category_id == '') {
                alert('nhập đầy đủ thông tin');
            } else {
                axios.post('/api/fruit', {
                    fruit : this.fruit
                }).then(() => {
                    alert('created');
                    this.fruit.name = '';
                    this.fruit.unit = 0;
                    this.fruit.category_id = '';
                    
                }).catch((error) => {
                    this.errors = error.response.data.errors;
                })
            }
        }
    },
}
</script>
