<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>Home</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'notfound' });
        }
    },
    
    mounted() {
    }
}
</script>