<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>Invoice</div>
                <div class="overflow-auto">
                    <table class="table table-bordered">
                        <tr>
                            <td colspan="2">Customer</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>No</th>
                            <th>Category</th>
                            <th>Fruit</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Edit</th>
                        </tr>
                        <tr v-for="(item, index) in invoice">
                            <td>{{ index + 1 }}</td>
                            <td>{{ item.category.name }}</td>
                            <td>{{ item.fruit.name }}</td>
                            <td>{{ item.fruit.unit }}</td>
                            <td>{{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.amount }}</td>
                            <td>
                                <router-link :to="{ path: '/invoice/edit/'+ item.id}"><a >Edit</a></router-link>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>{{ total }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            invoice: [],
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'login' });
        }
    },

    mounted() {
        this.getInvoice();
    },

    methods : {
        getInvoice() {
            let url = '',
                id = '';
            url = window.location.pathname;
            id = url.substring(url.lastIndexOf('/') + 1);

            axios.post('/api/invoice/detail', {
                id: id
            }).then((reponse) => {
                this.invoice = reponse.data.data;
            })
        },
    },

    computed: {
        total(){
            let a = 0;
            this.invoice.forEach(element => {
                a += element.amount;
            });

            return a;
        }
    },

    watch: {
    }
}
</script>
