<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div>Create Invoice</div>
                <form class="row g-3">
                    <div class="mb-3">
                        <label class="form-label">Customer Name</label>
                        <select v-model="invoice.customer_id" class="form-select" aria-label="Default select example">
                            <option v-for="item in customer" :value="item.id" >{{ item.name_customer }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select v-model="invoice.category_id" class="form-select" aria-label="Default select example">
                            <option v-for="item in category" :value="item.id" >{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fruit</label>
                        <select v-model="invoice.fruit_id" class="form-select" aria-label="Default select example" :disabled="!invoice.category_id">
                            <option v-for="item in fruit" :value="item.id" >{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="unit" class="form-label">Unit</label>
                        <input v-model="invoice.unit" type="text" class="form-control" id="unit" placeholder="unit" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input v-model="invoice.price" type="number" class="form-control" id="price" placeholder="price">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input v-model="invoice.quantity" type="number" class="form-control" id="quantity" placeholder="quantity">
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input v-model="invoice.amount" type="number" class="form-control" id="amount" placeholder="amount">
                    </div>
                    <div class="mb-3">
                        <button @click.prevent="updateInvoice()" type="submit" class="btn btn-primary mb-3">Update Invoice</button>
                    </div>
                </form>
            </div>
        </div>
    </div>        
</template>

<script>
export default {
    data() {
        return {
            category: [],
            customer: [],
            fruit: [],
            invoice: {
                id: '',
                name: '',
                unit: '',
                category_id: '',
                fruit_id: '',
                customer_id: '',
                price: '',
                quantity: '',
                amount: '',
                category: [],
                fruit: [],
            },
            errors: [],
        }
    },

    beforeCreate() {
        let token = window.localStorage.getItem('token');

        if (!token) {
            this.$router.push({ name: 'login' });
        }
    },

    mounted() {
        this.getCategory();
        this.getFruit();
        this.getCustomer();
        this.getInvoice();
    },

    methods : {
        getInvoice() {
            let url = '',
                id = '';
            url = window.location.pathname;
            id = url.substring(url.lastIndexOf('/') + 1);

            axios.post('/api/invoice/edit', {
                id: id
            }).then((reponse) => {
                this.invoice = reponse.data.data[0];
            })
        },
        
        getCategory() {
            axios.get('/api/category/all').then((reponse) => {
                this.category = reponse.data.data;
            })
        },

        getFruit() {
            axios.get('/api/fruit/all').then((reponse) => {
                this.fruit = reponse.data.data;
            })
        },

        getCustomer() {
            axios.get('/api/customer/all').then((reponse) => {
                this.customer = reponse.data.data;
            })
        },

        updateInvoice() {
            this.invoice.name = this.customer.find(x => x.id === this.invoice.customer_id).name_customer;
            if (this.invoice.name == '' || this.invoice.unit == '' || this.invoice.category_id == '' || this.invoice.fruit_id == ''
                || this.invoice.price == 0 || this.invoice.quantity == 0 || this.invoice.amount == 0 ) {
                alert('nhập đầy đủ thông tin');
            } else {
                axios.post('/api/invoice/update', {
                    invoice : this.invoice
                }).then(() => {
                    alert('created');
                }).catch((error) => {
                    this.errors = error.response.data.errors;
                })
            }
        }
    },

    watch: {
        'invoice.category_id'(val) {
            axios.post('/api/fruit/id', {
                'id' : val
            }).then((reponse) => {
                this.fruit = reponse.data.data[0].fruit
            })
        },

        'invoice.fruit_id'(val) {
            this.invoice.unit = this.fruit.find(x => x.id === val).unit;
        },

        'invoice.quantity'(val) {
            this.invoice.amount = val * this.invoice.price;
        },

        'invoice.price'(val) {
            this.invoice.amount = val * this.invoice.quantity;
        }
    }
}
</script>
