<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div>Login</div>
                <form class="row g-3">
                    <div class="mb-3">
                        <label for="email" class="form-label">Your email</label>
                        <input v-model="form.email" type="email" class="form-control" id="email" placeholder="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input v-model="form.password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <button @click.prevent="loginUser()" type="submit" class="btn btn-primary mb-3">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: '',
                password: ''
            },
            errors: []
        }
    },
    methods: {
        loginUser() {
            axios.post('/api/login', this.form).then((response) => {
                window.localStorage.setItem('token', response.data.access_token);
                this.$router.push({ name: 'home' });
            }).catch((error) => {
                this.errors = error.response.data.errors;
            })
        }
    }
}
</script>