<template>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div>Register an account</div>
            <form class="row g-3">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <span v-if="errors.name">{{ errors.name[0] }}</span>
                    <input placeholder="Name" type="text" v-model="form.name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input v-model="form.email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input v-model="form.password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">Confirm Password</label>
                    <input v-model="form.password_confirmation" type="password" class="form-control" id="password_confirmation" placeholder="Confirm Password">
                </div>
                <div class="mb-3">
                    <button @click.prevent="saveForm()" type="submit" class="btn btn-primary mb-3">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script setup>
import { ref, reactive } from 'vue'

const errors = ref([])
const form = reactive(
    {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
    }
)

function saveForm() {
    axios.post('/api/register', this.form).then(() => {
        console.log('saved');
    }).catch((error) => {
        errors.value = error.response.data.errors;
    })
}
// export default {
//     data() {
//         return {
//             form: {
//                 name: '',
//                 email: '',
//                 password: '',
//                 password_confirmation: '',
//             },
//             errors: []
//         }
//     },
// }
</script>
